/* ハンバーガーメニュースタイル */
.overlay {
    position: fixed;
    top: 96px;
    right: 0px;
    max-width: 293px;
    height: 100vh;
}

.menu {
    background: var(--red);
    width: 293px;
    height: 100%;
    padding: 20px;
}