/* メニューリンクスタイル */

.item {
    border-bottom: 1px solid var(--white);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--white);
    letter-spacing: 2px;
    padding: 4px 0;
}