:root {
    /* カラー */
    --white: #fafafa;
    --red: #e60021;
    --green: #4caf50;
    --yellow: #ffb300;
    --blue: #1e88e5;
    --gray: #9e9e9e;
}


html,
body,
#root {
    height: 100%;
    margin: 0;
}