.layout {
    min-height: 100vh;
    background: #fff;
}

.container {
    width: 100%;
    max-width: 393px;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 40px 0;
    flex: 1;
    gap: 40px;
}
