.layout {
    min-height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 393px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}
