.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-height: 70vh;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: var(--red);
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
