/* ログインフォームレイアウト */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.input {
    border: 1px solid var(--gray);
    border-radius: 10px;
    width: 280px;
    height: 50px;
    padding: 0 12px;
}
.student {
    border-color: var(--red);
}
.teacher {
    border-color: var(--black);
}

.form input::placeholder {
    color: var(--gray);
}