/* セクションボックスレイアウト */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--red);
    border-radius: 10px;
    width: 100%;
}

.box div {
    width: 100%;
}

.title {
    background: var(--red);
    border-radius: 9px 9px 0 0;
    padding: 12px 0;
}

.text {
    font-size: 16px;
    color: var(--white);
    text-align: center;
}