.header {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    background: var(--red);
    padding: 8px 4px;
    width: 100%;
    height: 96px;
}

.title {
    justify-self: center;
    grid-column: 2;
    font-size: 36px;
    color: var(--white);
    text-align: center;
    line-height: 1.12;
}

.menu {
    justify-self: end;
    grid-column: 3;
}